@font-face {
    font-family: Trebuchet MS; /* Имя шрифта */
    font-weight: normal;
    src: url(trebuchet.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Trebuchet MS; /* Имя шрифта */
    font-weight: bold;
    src: url(trebuchet_b.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Shadow; /* Имя шрифта */
    src: url(shadow.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Sensei Medium; /* Имя шрифта */
    src: url(sensei.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Hooge 0553 LeS version'; /* Имя шрифта */
    src: url(hooge.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Franklin Gothic Medium; /* Имя шрифта */
    src: url(framd.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Southbank LT; /* Имя шрифта */
    src: url(southbank.ttf); /* Путь к файлу со шрифтом */
}